.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding-inline: 100px;
    background-color: #f0f0f0;
    width: 100%;
    height: 5vw;
    z-index: 10;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 80px;
}

.headerLogo img {
    width: 100%;
}

.headerMenu ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    /* Reset padding and margin to default */
    list-style-type: none;
    /* Remove . */
}

.headerMenu ul li a {
    padding-inline: 15px;
    /* pad left and right */
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    /* Remove underline for link */
}

.containerCanvas {
    position: relative;
    /* Ensures that absolute positioning inside is relative to this container */
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    align-items: center;
}

.canvasOverlap {
    position: absolute;
    /* Allows overlap */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.canvasTitle {
    opacity: 0.9;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 25px;
}

.canvasItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* Space items evenly */
}

.canvasItem img {
    width: 300px;
    height: 300px;
    opacity: 0.8;
}

.canvasItem h3 {
    width: 300px;
    padding: 0px 50px 0px 50px;
    /* padding: top right bottom left */
    opacity: 0.8;
}


#carousel1 {
    position: absolute;
    display: flex;
    max-width: 50%;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centers carousel slide */
    opacity: 0.9;
}

.carousel-inner img {
    margin-top: 30px;
    width: auto;
    height: 400px;
    opacity: 0.9;
}

.carousel-item h5 {
    font-weight: bold;
    opacity: 0.8;
}

.carousel-caption-below {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-top: -10px;
    margin-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: gray;
    border-radius: 50%;
}

.card {
    width: 25rem;
}

.card-img-top {
    display: block;
    margin: 0 auto;
    /* Centers image */
}

.card-body {
    background-color: gray;
    color: white;
    width: auto;
}

/* For mobile devices */
@media (max-width: 768px) {
    .header {
        height: auto;
        padding-inline: 10px;
        flex-direction: column;
    }

    .headerLogo {
        max-width: 50px;
        margin-bottom: 0px;
    }

    .headerMenu ul {
        flex-direction: row;
    }

    .headerMenu ul li a {
        padding: 10px;
        font-size: 1rem;
    }

    .containerCanvas {
        flex-direction: column;
        padding: 10px;
    }

    .canvasTitle {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 2rem;
    }

    /* Stack images and text vertically */
    .canvasItem {
        flex-direction: column;
    }

    .canvasItem img {
        width: 50%;
        height: auto;
        padding: 0;
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .canvasItem h3 {
        /* padding: top right bottom left */
        width: auto;
    }

    #carousel1 {
        max-width: 100%;
        top: 30%;
    }

    .carousel-inner img {
        margin-top: 0px;
        height: 300px;
    }

    .card {
        margin-top: 25px;
        width: auto;
    }
}
